button-green {
    background-color: #4CAF50;
    color: white;
    padding: 10px 18px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left:35%;
    position:absolute;
    display: block;
    }
button-orange {
    background-color: orange;
    color: white;
    padding: 10px 18px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    position: absolute;
    margin-left:35%;

}

button-red {
    background-color: red;
    color: white;
    padding: 10px 18px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    display: block;
    margin-left:35%;

}

